.correct {
  background-color: var(--correct-color);
}

.close {
  background-color: var(--close-color);
}

.incorrect {
  background-color: var(--incorrect-color);
}

.guess {
  margin-top: 0.5rem;
}

.guess-item {
  box-sizing: border-box;
  height: 5rem;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-shadow: 0.07rem 0.07rem black;
}

.image-item {
  background: var(--background-tertiary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: underline;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.tier {
  text-shadow: 0.05rem 0.05rem black, -0.05rem 0.05rem black,
    0.05rem -0.05rem black, -0.05rem -0.05rem black, 0.1rem 0.1rem black;
}

.elements {
  filter: drop-shadow(2px 2px black);
  margin: 0 0.1rem;
}