#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  animation: fade-in 0.5s;
}

.logo {
  width: 16rem;
}
