@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bold;

  color-scheme: normal;
  color: rgb(236, 236, 236);
  background: center fixed url("../assets/background.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-main: rgb(137, 118, 101);
  --background-secondary: rgb(186, 170, 128);
  --background-tertiary: rgb(39, 39, 39);
  --border-color: rgb(89, 54, 46);
  --correct-color: rgb(46, 193, 46);
  --incorrect-color: rgb(255, 43, 43);
  --close-color: rgb(255, 234, 43);
}

body {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  min-height: 100vh;
}

.common,
.unique,
.rare,
.legendary,
.fabled,
.mythic,
.set {
  font-weight: bold;
}

.unique {
  color: rgb(255, 255, 85);
}

.unique-border {
  border: 2px solid rgb(255, 255, 85);
}

.rare {
  color: rgb(255, 85, 255);
}

.rare-border {
  border: 2px solid rgb(255, 85, 255);
}

.legendary {
  color: rgb(85, 255, 255);
}

.legendary-border {
  border: 2px solid rgb(85, 255, 255);
}

.fabled {
  color: rgb(255, 85, 85);
}

.fabled-border {
  border: 2px solid rgb(255, 85, 85);
}

.mythic {
  color: rgb(170, 0, 170);
}

.mythic-border {
  border: 2px solid rgb(170, 0, 170);
}

.set {
  color: rgb(85, 255, 85);
}

.set-border {
  border: 2px solid rgb(85, 255, 85);
}
