.input-autocomplete-container {
  position: relative;
}

#input {
  width: 80%;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

#input,
.submit {
  color: white;
  vertical-align: middle;
  font-family: inherit;
  background: var(--background-main);
  border: 2px solid var(--border-color);
  transition: 0.3s ease-out;
  outline: none;

  box-sizing: border-box;
  height: 2.5rem;
}

#input::placeholder {
  color: rgb(218, 218, 218);
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#input:focus {
  border: 2px solid white;
}

.submit:hover,
.submit:focus {
  cursor: pointer;
  border: 2px solid white;
}

.submit img {
  height: 1.5rem;
  width: auto;

  vertical-align: middle;
}
