.correct {
  background-color: var(--correct-color);
}

.incorrect {
  background-color: var(--incorrect-color);
}

.guess {
  margin-top: 0.5rem;
}

.guess-item {
  box-sizing: border-box;
  height: 5rem;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--border-color);
}
