.correct {
  background-color: var(--correct-color);
}

.incorrect {
  background-color: var(--incorrect-color);
}

.guess {
  margin-top: 0.5rem;
}

.guess-item {
  box-sizing: border-box;
  height: 5rem;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.05rem 0.05rem black;
}

.image-item {
  background: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: underline;
  font-size: 0.5rem;
  overflow: hidden;
}

.rarity {
  text-shadow:
    0.05rem 0.05rem black,
    -0.05rem 0.05rem black,
    0.05rem -0.05rem black,
    -0.05rem -0.05rem black;
}

.Common, .Unique, .Rare, .Legendary, .Fabled, .Mythic, .Set {
  font-weight: bold;
}

.Unique {
  color: rgb(255, 255, 85);
}

.Rare {
  color: rgb(255, 85, 255);
}

.Legendary {
  color: rgb(85, 255, 255);
}

.Fabled {
  color: rgb(255, 85, 85);
}

.Mythic {
  color: rgb(170, 0, 170);
}

.Set {
  color: rgb(85, 255, 85);
}