.image-icon {
  background: var(--background-tertiary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  text-decoration: underline;

  height: 7.5rem;
  width: 7.5rem;
  text-shadow: 0.07rem 0.07rem black;
  overflow: hidden;
  overflow-wrap: anywhere;
}
